body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.navbar {
	z-index:1030;
	top:0;
	left:0;
	right:0;
	width:100%;
	height:60px;
	background: #fff;
	position:fixed;
}

.navbar-name {
	font-family: "Times New Roman", Times, serif;
	color:#FFF;
    background-color: #0502A4;
	font-size:18px;
	line-height:50px;
	float:left;
    text-align: center;
	margin-left:0px;
	margin-top:0;
    margin-bottom:0px;
	padding-left:30px;
    padding-top: 5px;
    padding-right:30px;
    padding-bottom: 5px;
}

@media screen and (min-width:873px){
	.navbar {
	   z-index:1030;
	   top:0;
	   left:0;
	   right:0;
	   width:100%;
	   height:60px;
	   background: #fff;
	   position:fixed;
    }
}

@media screen and (max-width:872px){
	.navbar {
	   z-index:1030;
	   top:0;
	   left:0;
	   right:0;
	   width:100%;
	   height:120px;
	   background: #fff;
	   position:fixed;
    }
    
    .navbar-ul {
	   position: relative;
	   margin-top: 2px;
       text-align: center;
        left: 20%;
    }


}

.navbar-ul {
	position:relative;
	margin-top:2px;
	float:left;
}

@media screen and (min-width:601px){
    
    .navbar-ul {
	   position: relative;
	   margin-top: 2px;
       text-align: center;
    }
}

@media screen and (max-width:600px){
    
    .navbar-ul {
	   position: relative;
	   margin-top: 2px;
       text-align: center;
        left: -60px;
        width: 500px;
    }


}

nav ul li {
	float:left;
	list-style:none;
	position: relative;
	margin:0;
}

nav ul li a {
	margin:0;
	text-decoration:none;
	display:block;
	font-family: "Times New Roman", Times, serif;
	color:#000;
	line-height:15px;
	font-size:22px;
	padding:20px 20px;
}

nav ul li a:hover{
	padding:20px 22px;
	background:#0502A4;
    color: #fff;
    border-radius: 5px;
}

.twitter {
	padding-bottom:20px;
	padding-left:20px;
	padding-top:10px;
	padding-right:20px;
	float:right;
}

.facebook {
	padding: 10px 20px;
	float:right;
}

.instagram {
    padding-bottom: 10px;
	padding-top: 5px;
	padding-right:10px;
	float:right;
}

.top {
	height: 700px;
	width: 100%;
	padding: 0;
	margin-top:60px;
	left:0;
    top: 0;
    bottom: 0;
    right: 0;
    background: repeat fixed;
	background-size: cover;
    background-image: url("../luxuryimg/about.jpg");
}

.title {
	font-family: "Merriweather", sans-serif;
    position: relative;
    top: 250px;
	color: #fff;
	text-align:center;
    font-size: 60px;
}

hr {
    position: relative;
    z-index: 2;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.spacer {
    top: -30px;
    display: block;
    position: relative;
    z-index: 1;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    padding-bottom: 20px;
    background-color: #0502A4;
}

.past {
    top: -60px;
    position: relative;
    width: 50%;
    height: 600px;
    background: repeat fixed;
	background-size: cover;
    background-image: url("../luxuryimg/past.jpg");
}

.pasthead {
    margin-top: 35%;
    margin-left: 10%;
    position: absolute;
    color: #fff;
    font-size: 45px;
    font-family: "Playfair Display", serif; 
    text-align: center;
    width: 80%;
    height: 100px;
}

.pastinfo {
	font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    color: #000;
    font-size: 24px;
    text-align: center;
    margin-top: -500px;
    margin-left: 60%;
    width: 30%;
    height: auto;
       
}

@media screen and (min-width:801px){
	.pastinfo {
        position: absolute;
        color: #000;
        font-size: 24px;
        text-align: center;
        margin-top: -500px;
        margin-left: 60%;
        width: 30%;
        height: auto;
	}
}

@media screen and (max-width:800px){
	.pastinfo {
		font-size: 16px;
	}
}

.present {
    top: -60px;
    left: 50%;
    position: relative;
    width: 50%;
    height: 600px;
    background: repeat fixed;
	background-size: cover;
    background-image: url("../luxuryimg/present.jpg");
       
}

.presenthead {
    margin-top: 35%;
    margin-left: 10%;
    position: absolute;
    color: #fff;
    font-size: 45px;
    font-family: "Playfair Display", serif; 
    text-align: center;
    width: 80%;
    height: auto;
       
}

.presentinfo {
	font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    color: #000;
    font-size: 24px;
    text-align: center;
    margin-top: -500px;
    margin-left: 10%;
    width: 30%;
    height: auto;
}

@media screen and (min-width:801px){
	.presentinfo {
        position: absolute;
        color: #000;
        font-size: 24px;
        text-align: center;
        margin-top: -500px;
        margin-left: 10%;
        width: 30%;
        height: auto;
	}
}

@media screen and (max-width:800px){
	.presentinfo {
		font-size: 16px;
	}
}

.future {
    top: -60px;
    position: relative;
    width: 50%;
    height: 600px;
    background: repeat fixed;
	background-size: cover;
    background-image: url("../luxuryimg/future.jpg");
       
}

.futurehead {
    margin-top: 35%;
    margin-left: 10%;
    position: absolute;
    color: #fff;
    font-size: 45px;
    font-family: "Playfair Display", serif; 
    text-align: center;
    width: 80%;
    height: auto;
       
}

.futureinfo {
	font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    color: #000;
    font-size: 24px;
    text-align: center;
    margin-top: -500px;
    margin-left: 60%;
    width: 30%;
    height: auto;
       
}

@media screen and (min-width:801px){
	.futureinfo {
        position: absolute;
        color: #000;
        font-size: 24px;
        text-align: center;
        margin-top: -500px;
        margin-left: 60%;
        width: 30%;
        height: auto;
	}
}

@media screen and (max-width:800px){
	.futureinfo {
		font-size: 16px;
	}
}

.foothr {
    position: relative;
    bottom: -10px;
}

.twitterfoot {
    margin-top: 10px;
	padding-bottom:20px;
	padding-left:20px;
	padding-top:10px;
	padding-right:20px;
	float:left;
}

.facebookfoot {
    margin-top: 10px;
	padding: 10px 20px;
	float:left;
}

.instagramfoot {
    margin-top: 10px;
    padding-bottom: 10px;
	padding-top: 5px;
	padding-left:10px;
	float:left;
}

@media screen and (min-width:601px){
	.twitterfoot {
    margin-top: 10px;
	padding-bottom:20px;
	padding-left:20px;
	padding-top:10px;
	padding-right:20px;
	float:left;
}

.facebookfoot {
    margin-top: 10px;
	padding: 10px 20px;
	float:left;
}

.instagramfoot {
    margin-top: 10px;
    padding-bottom: 10px;
	padding-top: 5px;
	padding-left:10px;
	float:left;
}
}

@media screen and (max-width:600px){
	.twitterfoot {
    margin-top: 10px;
	padding-bottom:20px;
	padding-left:0px;
	padding-top:10px;
	padding-right:5px;
	float:left;
}

.facebookfoot {
    margin-top: 10px;
	padding: 10px 5px;
	float:left;
}

.instagramfoot {
    margin-top: 10px;
    padding-bottom: 10px;
	padding-top: 5px;
	padding-left:0px;
	float:left;
}
}

.luxury {
    overflow: hidden;
    background-color: #0502A4;
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
    margin-left: 41%;
    position: absolute;
	color: #fff;
    width: 15%;
    font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width:601px){
	.luxury {
	}
}

@media screen and (max-width:600px){
	.luxury {
		margin-left: 37%;
	}
}

.simple {
    margin-top: 20px;
    margin-left:90%;
    position: absolute;
	color: #000;
    width: 8%;
    font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width:1001px){
	.simple {
	}
}

@media screen and (max-width:1000px){
	.simple {
		margin-left: 74%;
	}
}


.foot {
    padding: 5px;
    height: 70px;
    
}
